.login-anchor {
    -fx-background-image:url('backgr.jpg');
    -fx-background-size: cover;
}
.logo-image {
    -fx-background-image: url('logo.png');
    -fx-background-size: cover;
}

.logo-text{
    -fx-background-color: #3fbcff; -fx-background-radius: 10; -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);
}
